@model List<Producto>

@{
    ViewData["Title"] = "Productos";
}

<div class="page-header text-center" style="color:white; background-color:darkslategrey; padding:40px">
    <h1>Productos</h1>
</div>
<br />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Creado Por</th>
                <th>Fecha de creacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Precio</td>
                    <td>@item.Usuario.UserName</td>
                    <td>@item.Fecha.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>